.info-text {
  color: white;
  font-size: x-large;
  padding: 3vw;
}

.figure-container {
  padding: 3vw;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

li:not(:last-child) {
  margin-bottom: 4vh;
}

.math-class-title {
  font-size: 1rem;
}

#arrow {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  margin-top: 40px;
}

ul.cs-classes > li {
  position: relative;
  padding-bottom: 10px;
}

ul.cs-classes {
  list-style: none;
}

ul.cs-classes > li:before {
  content: "";
  position: absolute;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 10px;
  height: 10px;
  top: calc(50% - 4px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}
